<ion-header>
  <ion-toolbar>
    <ion-title>Create Workout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="createWorkout()">

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input type="text" autocomplete autocorrect formControlName="description"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
        <ion-col>
        <div formArrayName="exercises" *ngFor="let exercise of exercises.controls; let i=index">
          <ion-item>
            <ion-label position="floating">Exercises</ion-label>
            <ion-input type="text" [formControlName]="i"></ion-input>
          </ion-item>
        </div>
        </ion-col>
        <ion-col>  
        <div formArrayName="sets" *ngFor="let set of sets.controls; let i=index">
          <ion-item>
            <ion-label position="floating">Sets</ion-label>
            <ion-input type="text" [formControlName]="i" expand="full"></ion-input>
          </ion-item>
        </div>
        </ion-col>
        <ion-col>
        <div formArrayName="reps" *ngFor="let rep of reps.controls; let i=index">
          <ion-item>
            <ion-label position="floating">Reps</ion-label>
            <ion-input type="number" [formControlName]="i"></ion-input>
          </ion-item>
        </div>
        </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button color="dark"  size="large" expand="full" (click)="addExercise()">Add Exercise</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button color="dark"  size="large" routerLink='/dashboard' expand="full">Cancel</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-button color="dark"  size="large" (click)="createWorkout()" expand="full">Create</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>
