<ion-header>
  <ion-toolbar>
    <ion-title>Revolute Fitness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <form>
    <ion-grid>
      <ion-row color="dark" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="7" size-xs="12">
          <div text-center>
            <h3>Register Your Account</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="email" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Confirm Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-select value="general_user" okText="Okay" cancelText="Cancel" >
                <ion-select-option value="general_user">General User</ion-select-option>
                <ion-select-option value="personal_trainer">Personal Trainer</ion-select-option>
                <ion-select-option value="client">Client</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="dark"  size="large" type="submit" expand="block" (click)="register()">Register</ion-button>
          </div>
          <div padding>
            <ion-button size="large" routerLink='/login' expand="block">Back</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
  